
<h2>CPT Requests</h2>

@{
    ViewBag.Title = "CPTRequests";
    ViewBag.Message = "";

    <li>@Html.ActionLink("Marketing Director", "MarketingDirectorReviewIndex", "CPTRequest")</li>
    <li>@Html.ActionLink("Brand Manager", "SubmittedRequestsIndex", "CPTRequest")</li>
    <li>@Html.ActionLink("Requester", "SubmittedRequestsIndex", "CPTRequest")</li>
    <li>@Html.ActionLink("CPT Coordinator", "CPTCoordinatorIndex", "CPTRequest")</li>


}
