@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="color: #b60f47; background-color: #eaf5ff" >
    <h1 style="font-size:72px">Consumer Panel Test System</h1>
    <p class="lead"> </p>
</div>

<div class="row">
    <div class="col-md-6" style="font-size:20px; background-color: #f9fcff; text-align:justify">
        <h2>About CPTS</h2>
        <p>
            The Consumer Panel Test System provides the means to an administrative and heirarchal market research process, through request submission and approval, various questionnaire templates and approvals and a concise decision making process.
        </p>

    </div>

    <div class="col-md-6 " style="font-size:20px; background-color: #f9fcff; text-align:justify">
        <h2>Contact Us</h2>
        <p> <strong>Email</strong> - CPTS@email.com</p>
        <p> <strong>Phone</strong> - 0555123123 </p>
        <p> <strong>Location</strong> - Jeddah, Al-Shati </p>

    </div>
</div>